[tool.ruff]
# src = ["src"]
fix = true
show-fixes = true
output-format = "full"
line-length = 79 # The formatter wraps lines at a length of 88

[tool.ruff.lint]
select = [
    "B",  # flake8-bugbear
    "E",  # pycodestyle error
    "F",  # pyflakes
    "I",  # isort
    "UP",  # pyupgrade
    "W",  # pycodestyle warning
]
ignore-init-module-imports = true

[tool.ruff.lint.isort]
force-single-line = true
order-by-type = false
